{% extends "surveys/base.html" %}
{% block title %}Surveys{% endblock title %}
{% block content %}
<h1>Surveys</h1>

<table class="table table-sm table-striped">
  <thead>
    <tr class="table-info">
      <th scope="col">Survey</th>
      <th scope="col">Organization</th>
      <th scope="col">Cohort</th>
      <th scope="col">My raters</th>
      <th scope="col">Open until</th>
      <th scope="col">Date taken</th>
      <th scope="col">Report</th>
    </tr>
  </thead>
  <tbody>
    {% for v in surveys.values %}
      <tr>
        <td scope="row">
          {% if v.rater.survey_progress == "finished" or not v.survey.active %}
            {{ v.survey.name }}
            {% if v.rater.type != 'self' %}
            {% if v.rater.ratee_user.last_name != "" %}
              (as {{ v.rater.ratee_user.first_name }} {{ v.rater.ratee_user.last_name }}'s {{ v.rater.type }})
            {% else %}
              (as {{ v.rater.ratee_user.username }}'s {{ v.rater.type }})
            {% endif %}
            {% endif %}
          {% else %}
          <a href="{% url 'surveys:take' survey_id=v.survey.id rater_id=v.rater.id %}">
            Take {{ v.survey.name }}
            {% if v.rater.type != 'self' %}
            {% if v.rater.ratee_user.last_name != "" %}
              (as {{ v.rater.ratee_user.first_name }} {{ v.rater.ratee_user.last_name }}'s {{ v.rater.type }})
            {% else %}(as {{ v.rater.ratee_user.username }}'s {{ v.rater.type }})
            {% endif %}
            {% endif %}
          </a>
          {% endif %}
        </td>
        <td>
          {{ v.rater.cohort.client.name }}
        </td>
        <td>
          {{ v.rater.cohort.name }}
        </td>
        <td>
          {% if v.survey.multi_rater and v.rater.type == 'self' and v.survey.active %}
          <a href="{% url 'surveys:raters-dashboard' survey_id=v.survey.id rater_id=v.rater.id %}">
            My raters
          </a>
          {% endif %}
        </td>
        <td>
            {{ v.survey.end_date|date:"d.m.Y" }}
        </td>
        <td>
          {% if v.rater.survey_progress == "finished" %}
            {{ v.rater.survey_date_taken|date:"d.m.Y" }}
          {% endif %}
        </td>
        <td>
          {% if v.rater.type == 'self' and v.rater.survey_progress == "finished" %}
          <a href="#">
            Report
          </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}