temp

TAKE.HTML

{% extends "surveys/base.html" %}
{% block title %} {{ survey.name }} {% endblock title %}

{% block content %}

<span>Page {{ rater.survey_page_number }} of {{ survey.pages.count }}</span>

<form action="{% url 'surveys:take' survey_slug=survey.slug survey_id=survey.id rater_id=rater.id %}" method="post">
    {% csrf_token %}
    
    {% for field in form.visible_fields %}
        <h2>{{ field.label }}</h2>
        {{ field }}    
    {% endfor %}

    <br>
    
    <a href="{% url 'surveys:take' survey_slug=survey.slug survey_id=survey.id rater_id=rater.id %}?back"><button type="button" {% if rater.survey_page_number == 1 %}disabled{% endif %}>Back</button></a>

    <button type="submit">{% if rater.survey_page_number == survey.pages.count %}Finish{% else %}Next{% endif %}</button>
</form>

<br>
<div>
    You are completing {{ survey.name }} for
    {% if rater.type == 'self' %}yourself.
    {% elif rater.type == 'manager' %}your report {{ rater.ratee_full_name_or_username }}.
    {% elif rater.type == 'peer' %}your colleague {{ rater.ratee_full_name_or_username }}.
    {% elif rater.type == 'report' %}your manager {{ rater.ratee_full_name_or_username }}.
    {% endif %}
    The survey is active until {{ survey.end_date|date:"l, d.m.Y, H:i A e" }}.
</div>

{% endblock content %}



TAKE_VIEW

def take_view(request, survey_slug, survey_id, rater_id):

    survey = get_object_or_404(Survey, id=survey_id)
    rater = get_object_or_404(Rater, id=rater_id)
    form = SurveyPageForm(survey, rater)

    if request.method == 'GET':
        if rater.survey_progress == "completed" or rater not in survey.raters.all().filter(rater_user_id=request.user.id):
            raise Http404
        if request.method == 'GET':
            if 'back' in request.GET:
                if rater.survey_page_number > 1:
                    rater.survey_page_number -= 1
                    rater.save()
                    return redirect(request.path)

    if request.method == 'POST':
        form = SurveyPageForm(survey, rater, request.POST)
        if form.is_valid():
            for field_name, value in form.cleaned_data.items():
                if re.search('(radio_)\d+', field_name):
                        data = {
                            'rater_id': rater_id,                     
                            'question_id': field_name[6:],
                            'choice_id': value,
                            'text': '',
                        }
                elif re.search('(multi_)\d+', field_name):
                    data = []
                    for choice in value:
                        data.append(
                            {
                        'rater_id': rater_id,                     
                        'question_id': field_name[6:],
                        'choice_id': choice,
                        'text': '',
                    }
                    )
                elif re.search('(open_)\d+', field_name):
                    data = {
                        'rater_id': rater_id,                     
                        'question_id': field_name[5:],
                        'choice_id': None,
                        'text': value,
                    }
                if type(data) == list:
                    for entry in data:
                        Response.objects.update_or_create(rater_id=entry['rater_id'], question_id=entry['question_id'], defaults=entry)
                elif type(data) == dict:
                    Response.objects.update_or_create(rater_id=data['rater_id'], question_id=data['question_id'], defaults=data)
            if rater.survey_page_number == survey.pages.all().count():
                rater.survey_progress = 'completed'
                rater.survey_date_taken = datetime.datetime.now(datetime.timezone.utc)
                rater.save()
                return redirect('surveys:thanks')
            else:
                rater.survey_progress = 'incompleted'
                rater.survey_page_number += 1
                rater.save()
                return redirect(request.path)

    context = {'form': form, 'survey': survey, 'rater': rater}
    return render(request, "surveys/take.html", context)