ul {
    margin: 0px;
}


.custom-file-upload {
    border: 2px solid #000000;
    display: inline-block;
    padding: 1px 6px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100%;
  }

  .errorlist {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.bg-myinfo {
    background-color: #CFF4FC;;
}

.qbox {
    border-left: 5px solid lightseagreen;
    padding: 10px;
    background-color: #CFF4FC;
}

.qbox-errors {
    border-left: 5px solid lightpink;
    padding: 10px;
    background-color: rgb(255, 233, 236);
}

.qbox-done {
    background-color: rgb(226, 255, 226);
    padding: 10px;
    border-left: 5px solid green;
}